body {
  padding-top: 70px;
}
.container-panel {
  padding-bottom: 20px;
}
.no-style {
  list-style-type: none;
}
.selected-file-path,
.path {
  padding: 5px 15px;
  float: left;
}
.selected-file-path {
  width: 80%;
}
.path {
  width: 20%;
}
ul {
  margin-top: 5px;
}
li {
  padding-left: 5px;
}
li.file:hover {
  cursor: default;
  background-color: #e3dfe3;
}
li.folder:hover {
  cursor: pointer;
}
li.selected {
  background-color: lightblue;
}
